@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

#main {
  background-color: #ececec;
  width: 942px;
  min-height: 1000px;
  margin: 0 auto;
  padding: 7px;
}

#nav {
  width: 942px;
  height: 150px;
}

#banner {
  width: 942px;
}

#social-icons {
  width: 942px;
  height: 20px;
}

#chatter {
  width: 942px;
  height: 20px;
}

#begin-flow {
  width: 942px;
  height: 30px;
}

#new-flow {
  width: 642px;
  min-height: 40px;
  background-color: transparent;
}

#existing-flow {

}